.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    width: 60vw;
    background-color: #03122F;
    border: 4px solid #2271D1;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

dialog{
    width: 50%;
}

.close{
    align-self: flex-end;
    cursor: pointer;
}