label{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem
}

.input-estilos{
    width: 100%;
}

.input-estilos div{
    color: white !important;
    font-size: 1rem;
}


.input-estilos svg{
    color: white;
    font-size: 1.5rem;
}

ul{
    color: #fff;
    background-color: #051e50;
}